.example-spacer {
  flex: 1 1 auto;
}
.container {
  width: 100%;
  min-height: 100vh;
}
.content-wrapper {
  width: 95%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quote-wrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote {
  text-align: center;
  width: 75%;
}
.choose-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.options-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.option {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 20px;
  cursor: pointer;
  background: #212121;
}
.option:hover {
  transform: scale(0.9);
}
.option img {
  width: 100px;
  margin-top: -15px;  
}
.default {
  width: 75px!important;
  margin: 0px 0px -78px 12px;
}
//top tight botom lef
.option img:hover {
  opacity: 0.9;
}
.theme-data {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.theme-colors {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  padding: 10px;
  text-align: center;
}
.item button {
  margin: 3px;
}
.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px dotted grey;
}
.image-wrapper img {
  max-width: 50%;
  height: auto;
  display: flex;
  justify-items: flex-end;
}
.link {
  text-decoration: none;
}
.footer {
  bottom: 0;
  width: 100%;
  border: 0px solid green;
  position: static;
}
.footer span {
  margin-left: 40px;
}


@media only screen and (max-width: 600px) {
  .content-wrapper, .theme-data, .quote-wrapper, .footer {
    width: 100%;
  }
  .content-wrapper, .theme-data {
    flex-direction: column;
  }
  .options-wrapper {
    flex-wrap: wrap;
  }
  .option{
    width: 80px;
    height: 80px;
    margin: 20px;
  }
}

