<div class="container mat-app-background mat-typography">
  <mat-toolbar color="primary">
    <span>Super Hero Theming</span>
    <span class="example-spacer"></span>
    <button mat-button (click)="changeTheme('ironman')">Iron Man</button>
    <button mat-button (click)="changeTheme('captain')">Captain</button>
    <button mat-button (click)="changeTheme('loki')">Loki</button>
  </mat-toolbar>


  <div class="content-wrapper">
    <div class="quote-wrapper">
      <h1 class="body-1" *ngIf="this.quote == ''">
        Escolha um tema
      </h1>
      <h1 class="mat-display-2"> {{ quote }} </h1>
      <p class="mat-body-1"> {{ about }} </p>
    </div>
    <div class="image-wrapper">
      <img src="{{ imgsrc }}" alt="">
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="theme-data">
    <div class="theme-fonts">
      <h3 class="mat-caption">Fonts</h3>
      <p><span class="mat-body-2">Headings:</span> {{ font1 }}</p>
      <p><span class="mat-body-2">Body:</span> {{ font2 }}</p>
      <p><span class="mat-body-2">Buttons:</span> {{ font3 }}</p>
    </div>

    <div class="theme-colors-wrapper">
      <h3 class="mat-caption">Colors</h3>
      <div class="theme-colors">
        <div class="item color-primary">
          <button mat-fab color="primary"></button>
          <p>Primary</p>
        </div>
        <div class="item color-accent">
          <button mat-fab color="accent"></button>
          <p>Accent</p>
        </div>
        <div class="item color-warn">
          <button mat-fab color="warn"></button>
          <p>Warn</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer"> Made by Thais with Angular </div>
</div>
